/* =============================== 992 PX ============================= */
@media (max-width: 992px) {
  .menu-label {
    display: flex;
  }

  .navbar__list {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 50px;
    right: 0%;
    width: 60%;
    height: 100vh;
    gap: 2.5rem;
    background: linear-gradient(var(--fifa-dark-green), var(--fifa-green));
    padding: 2rem;
  }

  #menu-icon:checked + .navbar__list {
    display: flex;
  }

  .navbar__list li {
    font-size: 22px;
  }

  .hero__container {
    max-width: 992px;
  }

  #hero {
    height: auto;
  }

  .container__info h1,
  .container__info h1 span {
    font-size: 2.5rem;
  }

  .container__info p {
    font-size: 1rem;
  }

  .container__pic img {
    height: 370px;
  }

  #about-us {
    height: auto;
  }

  .about-us__container {
    flex-direction: column;
    max-width: 992px;
  }

  .about-us__container__pride {
    width: 100%;
  }

  .about-us__container__info {
    width: 100%;
  }

  .pool__container {
    max-width: 992px;
  }

  .host__container {
    max-width: 992px;
  }

  .contact-us__container {
    max-width: 992px;
  }

  .container__location {
    padding: 1rem 0.5rem;
    gap: 1rem;
  }

  .location__main {
    padding: 1rem 1rem;
  }

  .main__map iframe {
    width: 300px;
  }

  #comment {
    width: 100%;
  }

  .form__button {
    width: 100%;
  }
}
/* =============================== 768 PX ============================= */
@media (max-width: 768px) {
  .hero__container,
  .about-us__container,
  .pool__container,
  .host__container,
  .contact-us__container {
    max-width: 768px;
  }

  .hero__container {
    gap: 0.5rem;
  }

  .container__info h1,
  .container__info h1 span {
    font-size: 1.9rem;
  }

  .container__info {
    height: auto;
    gap: 1rem;
    padding: 0 12px;
  }

  .container__pic img {
    height: 320px;
  }

  .hero__sponsors {
    gap: 1rem;
  }

  .container__location {
    flex-direction: column-reverse;
  }

  .location__main,
  .location__contact {
    width: 100%;
  }

  .contact__form {
    align-items: center;
    justify-content: center;
  }

  .links__fifa {
    gap: 2em;
  }
  .links__nets a {
    font-size: 1.5rem;
  }
}
/* =============================== 576 PX ============================= */
@media (max-width: 576px) {
  .hero__container,
  .about-us__container,
  .pool__container,
  .host__container,
  .contact-us__container {
    max-width: 576px;
  }

  .navbar__list li {
    font-size: 15px;
  }

  .container__pic {
    display: none;
  }

  .container__info {
    margin: auto 0;
    width: 100%;
  }

  .container__info__mobile {
    display: flex;
    gap: 2rem;
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
  }

  .container__info__mobile {
    width: 340px;
  }

  .container__info__mobile h1 {
    font-size: 20px;
  }

  .container__info__mobile h1 span {
    display: block;
    font-size: 20px;
  }

  .container__cup-left {
    display: flex;
    height: 150px;
  }

  .hero__sponsors {
    gap: 12px;
  }

  .sponsors__logo {
    height: 25px;
  }

  #about-us {
    padding: 0;
  }

  .pride__logo {
    height: 80%;
  }

  #pool {
    padding: 1rem;
    gap: 1rem;
  }

  #host {
    padding: 1rem;
    gap: 1rem;
  }

  #contact-us {
    padding: 1rem;
    gap: 1rem;
  }

  .location__contact {
    padding: 1rem;
  }

  .main__map iframe {
    width: 250px;
  }

  #footer {
    padding: 1rem;
    gap: 10px;
  }

  .footer__date img {
    bottom: 70px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }

  .links__fifa {
    gap: 10px;
  }

  .links__fifa a img {
    width: 40px;
  }
}

/* =============================== 375 PX ============================= */
@media (max-width: 375px) {
  .hero__container,
  .about-us__container,
  .pool__container,
  .host__container,
  .contact-us__container {
    max-width: 375px;
  }

  .navbar__list li {
    font-size: 12px;
  }
  .pride__logo {
    width: 300px;
  }
}
