@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --navbar-gray: rgba(70, 66, 66, 0.797);
  --fontwhite: rgb(227, 227, 227);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: red solid 1px;
  font-family: "Poppins", "Montserrat", "sans-serif";
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  gap: 2rem;
}

.content-top__logo {
  height: 70px;
}

.content-top__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-top__info h2 {
  font-size: 20px;
}

.content-top__info p {
  font-size: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 50px;
  background-color: var(--navbar-gray);
}

.navbar__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fontwhite);
}

.navbar__title h2 {
  font-size: 14px;
}

.navbar__title p {
  font-size: 10px;
}

.navbar__list {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 1rem;
}

.navbar__list li a {
  color: var(--fontwhite);
}
