@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --navbar-gray: rgb(54, 50, 50);
  --fontwhite: #f5f4f4;
  --fifa-dark-purple: #5c1a19;
  --fifa-light-purple: #a52218;
  --fifa-lilac: rgb(144, 123, 219);
  --fifa-blue: rgb(46, 72, 215);
  --fifa-orange: rgb(201, 68, 33);
  --fifa-green: rgb(161, 198, 63);
  --fifa-violet: rgb(75, 28, 197);
  --fifa-aqua: rgb(123, 215, 195);
  --fifa-dark-green: rgb(27, 69, 60);
  --fifa-logo-dark-blue: rgb(9, 20, 64);
  --fifa-logo-light-blue: rgb(67, 118, 194);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: red solid 1px; */
  font-family: "Poppins", "Montserrat", "sans-serif";
}

.header {
  display: flex;
  flex-direction: column;
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  gap: 2rem;
  background: linear-gradient(
    var(--fifa-dark-purple),
    var(--fifa-light-purple)
  );
  background-size: cover;
}

.content-top__logo {
  height: 70px;
}

.content-top__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fontwhite);
}

.content-top__info h2 {
  font-size: 20px;
}

.content-top__info p {
  font-size: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  height: 50px;
  background: var(--navbar-gray);
  background: linear-gradient(var(--navbar-gray), rgba(54, 50, 50, 0.876));
  -webkit-position: sticky;
  position: sticky;
  top: 0;
}

.navbar__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fontwhite);
}

.navbar__title h2 {
  font-size: 14px;
}

.navbar__title p {
  font-size: 10px;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__list li a {
  color: var(--fontwhite);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    to right,
    var(--fifa-logo-dark-blue),
    var(--fifa-logo-light-blue)
  );
  padding: 2rem 0;
  gap: 1rem;
}

.hero h1 {
  font-size: 2rem;
  color: var(--fontwhite);
}

.hero__container {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  gap: 2rem;
  padding: 0 8rem;
}

.container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 400px;
  gap: 1rem;
}

.container__info h1 {
  font-size: 3rem;
}

.container__info h1 span {
  font-size: 3.5rem;
  display: block;
}

.container__info p {
  font-size: 20px;
  font-weight: 600;
}

.container__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.container__pic img {
  height: 400px;
}

.hero__sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.sponsors__logo {
  height: 40px;
}
