/* =============================== 992 PX ============================= */
@media (max-width: 992px) {
  body {
    height: 100vh;
  }

  #section__image {
    display: none;
  }

  #section__login {
    max-width: 992px;
    width: 100%;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
}

/* =============================== 768 PX ============================= */
@media (max-width: 768px) {
  #section__login {
    max-width: 768px;
  }

  #user,
  #password {
    width: 100%;
  }
}

/* =============================== 576 PX ============================= */
@media (max-width: 576px) {
  #section__login {
    max-width: 576px;
  }

  .bottom__registrer p {
    font-size: 12px;
  }
}

/* =============================== 325 PX ============================= */
@media (max-width: 325px) {
  #section__login {
    max-width: 325px;
  }
}
